.app-navbar {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  background-color: transparent;

  z-index: 99;

  .nav-items {
    padding: 0 10px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }
}

