<div class="home">
    <div class="home-section1">
        <div class="left-col"></div>
        <h1 class="my-name">
        Ezequiel<br>Web Developer
        <hr align="left"/>
        </h1>
        <div class="right-col">
            <p>
            I'm Ezequiel I design and build web sites, web applications and
            automation scripts using Ruby, Python and front end frameworks like
            Bootstrap and AngularJS
            </p>
        </div>
    </div>
    <div class="home-subtitle-section">
        <div class="left-col">
            <h1 class="sub-title">What do I do</h1>
        </div>
        <div class="right-col"></div>
    </div>
    <div class="home-section2">
        <div class="left-col"></div>
        <div class="right-col">
            <h3 class="skill-title">
            Web Design
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            First impressions are really important. When a client visit your
            website they make a lot of assumptions just from the way the site
            looks. I can help you to redesign your site and give you a fresh
            look so your visitor will know that you are on top of your game.
            </p>
            <h3 class="skill-title">
            API Integrations
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            In todays world all web applications are interconnected or using
            third party servicies through some sort of API. I can help you to
            design and develop those integrations that you need for your
            business.
            </p>
            <h3 class="skill-title">
            Automation
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            Automation will save you time and money that you could spend on
            your business. Manual task are prone to errors and take more time
            in the long run. Let the computer work for you and do all the heavy
            lifting with scripts in BASH or PowerShell, or using tools like
            Salt and Chef.
            </p>
        </div>
    </div>
</div>
