<div class="home">
    <div class="home-section1">
        <div class="left-col"></div>
        <h1 class="my-name">Ezequiel<br>Web Developer</h1>
        <div class="right-col">
            <p>
            Hi there, I am Ezequiel, Full Stack developer pasionate
            about the craft. I enjoy learning new technologies and bring ideas
            to live. I have experience in Linux, operations and development.
            When I'm not on the computer or spending time with my family I like
            to play and watch soccer with friends.
            </p>
        </div>
    </div>
    <div class="home-subtitle-section">
        <div class="left-col">
            <h1 class="sub-title">What do I do</h1>
        </div>
        <div class="right-col"></div>
    </div>
    <div class="home-section2">
        <div class="left-col"></div>
        <div class="right-col">
            <h3 class="skill-title">
            Web Design
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            I can help you to build a web site, a full web application or just
            a prototype. I can transform ideas into projects. If you have a
            project or idea that you would like to work on, send me a line and
            we can talk about it.
            </p>
            <h3 class="skill-title">
            API Integrations
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            SOAP or REST there is not API that can't be tamed. I have worked
            with complex APIs like Amadeus GDS and also with easy ones like
            Rackspace email and Facebook graph. I can help you to build the
            integration that you need for your business.
            </p>
            <h3 class="skill-title">
            Automation
            <hr align="left"/>
            </h3>
            <p class="skill-text">
            Automation can save time and money. Manual task are prone to errors
            and take more time in the long run. Let the computer work for you
            and do all the heavy lifting.
            </p>
        </div>
    </div>
</div>
